{% extends 'base.html' %}

{% block title %}Event{% endblock %}

{% block content %}

{% if created %}
<div id="alert_created" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Event successfully created.</h4>
</div>
{% endif %}

<h1>Event</h1>
<p>
  Event with ID {{ event.id }}, status: {{ "active" if event.active else "not active" }}
</p>



{% if event.active %}
<h4>Control panel</h4>

<!-- Button trigger modal -->
<button onclick="location.href = '/game/active';" id="showGame" type="button" class="btn btn-primary">
  Show active game
</button>
<button id="createGame" type="button" class="btn btn-success" data-toggle="modal" data-target="#newGameModal">
  Create new game
</button>
<button id="deactivateEvent" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deactivateModal">
  Deactivate event
</button>
{% endif %}


<h4>Main ranking</h4>

<table class="table align-middle text-center table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Played</th>
      <th scope="col">Won</th>
      <th scope="col">Lost</th>
    </tr>
  </thead>
  <tbody>
    {% for row in main_ranking %}
    <tr>
      <th scope="row">{{ row["ranking"] }}</th>
      <td>{{ row["name"] }}</td>
      <td>{{ row["played"] }}</td>
      <td>{{ row["won"] }}</td>
      <td>{{ row["lost"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<button onclick="location.href='/stats/event/{{ event.id }}'" class="btn btn-primary" type="button">Show more
  statistics</button>

</button>
<h4>Played games</h4>
<table class="table align-middle text-center table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">Black</td>
      <th scope="col">Score</th>
      <th scope="col">White</td>
    </tr>
  </thead>
  <tbody>
    {% for row in games %}
    <tr>
      <td>
        {% if row["pbd"] == row["pbo"] %}
        <div>
          {{ row["pbd"] }}
        </div>
        {% else %}
        <div>
          DEF: {{ row["pbd"] }}
        </div>
        <div>
          OFF: {{ row["pbo"] }}
        </div>
        {% endif %}
      </td>
      <td>{{ row["score_b"] }}:{{ row["score_w"] }}</td>
      <td>
        {% if row["pwd"] == row["pwo"] %}
        <div>
          {{ row["pwd"] }}
        </div>
        {% else %}
        <div>
          DEF: {{ row["pwd"] }}
        </div>
        <div>
          OFF: {{ row["pwo"] }}
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- Modal deactivate-->
<div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivateModal">Deactivate</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
        <form action="{{ event.id }}/deactivate" method="post">
          <button type="summit" class="btn btn-danger">Deactivate</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal new game-->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="newGameModal">New game</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <form action="/game/new/submit" method="post">
        <div class="modal-body">

          <div>
            <label for="pwd">White</label>
            <select id="pwd" name="pwd" class="form-control">
              <option value="" disabled selected>Select defense player</option>
              {% for row in main_ranking %}
              <option value={{ row["name"] }}>{{ row["name"] }}</option>
              {% endfor %}
            </select>
            <select id="pwo" name="pwo" class="form-control">
              <option value="" disabled selected>Select offense player</option>
              {% for row in main_ranking %}
              <option value={{ row["name"] }}>{{ row["name"] }}</option>
              {% endfor %}
            </select>
          </div>

          <div>
            <label for="pbd">Black</label>
            <select id="pbd" name="pbd" class="form-control">
              <option value="" disabled selected>Select defense player</option>
              {% for row in main_ranking %}
              <option value={{ row["name"] }}>{{ row["name"] }}</option>
              {% endfor %}
            </select>
            <select id="pbo" name="pbo" class="form-control">
              <option value="" disabled selected>Select offense player</option>
              {% for row in main_ranking %}
              <option value={{ row["name"] }}>{{ row["name"] }}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
          <button type="summit" class="btn btn-success" disabled="disabled" id="startBtn">Start game</button>
        </div>

        <!-- Hidden stuff for form submission-->
        <input type="hidden" id="from_event" name="from_event" value={{ event.id }}>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 2000);

  $(function () {
    checkForActiveGame();
    setInterval(checkForActiveGame, 1000);
  });

  function checkForActiveGame() {
    fetch('/data/active_game_exists')
      .then(response => response.json())
      .then(data => {
        if (data) {
          $('#showGame').prop('disabled', false);
          $('#createGame').prop('disabled', 'disabled');
          $('#deactivateEvent').prop('disabled', 'disabled');
        } else {
          $('#showGame').prop('disabled', 'disabled');
          $('#createGame').prop('disabled', false);
          $('#deactivateEvent').prop('disabled', false);
        }
      });
  }

  function checkValues() {
    var pwd = $('#pwd').val();
    var pwo = $('#pwo').val();
    var pbd = $('#pbd').val();
    var pbo = $('#pbo').val();
    if (![pwd, pwo, pbd, pbo].includes(null)) {
      $('#startBtn').prop('disabled', false);
    }
  }

  $('#pwd').on('change', function () {
    checkValues();
  });
  $('#pwo').on('change', function () {
    checkValues();
  });
  $('#pbd').on('change', function () {
    checkValues();
  });
  $('#pbo').on('change', function () {
    checkValues();
  });
</script>
{% endblock %}