{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}

<h1>Game</h1>
<p>Game with ID {{ game.id }}</p>
<p>Created at {{ game.created.strftime("%d.%m.%Y %H:%M") }}</p>

<table class="table align-middle text-center table-responsive-sm">
    <thead>
        <tr>
            <th style="width: 50%" scope="col">
                <h3>Black</h3>
                </td>
            <th style="width: 50%" scope="col">
                <h3>White</h3>
                </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3><span id="score_black"></span></p>
                </h3>
            </td>
            <td>
                <h3><span id="score_white"></span></p>
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                {% if game.pbd == game.pbo %}
                <div>
                    {{ game.pbd.name }}
                </div>
                {% else %}
                <div>
                    DEF: {{ game.pbd.name }}
                </div>
                <div>
                    OFF: {{ game.pbo.name }}
                </div>
                {% endif %}
            </td>
            <td>
                {% if game.pwd == game.pwo %}
                <div>
                    {{ game.pwd.name }}
                </div>
                {% else %}
                <div>
                    DEF: {{ game.pwd.name }}
                </div>
                <div>
                    OFF: {{ game.pwo.name }}
                </div>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        checkScore()
        setInterval(checkScore, 1000);
    });

    function checkScore() {
        fetch('/data/game_score?game_id={{ game.id }}')
            .then(response => response.json())
            .then(data => {
                if (data) {
                    document.getElementById("score_white").textContent = data["w"];
                    document.getElementById("score_black").textContent = data["b"];
                }
            });
    }
</script>
{% endblock %}