{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home page</h1>
{% if context.active_session %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <h4 class="alert-heading">Active Session</h4>
    Click <a href="/session/{{ context.active_session.session_id }}" class="alert-link">here</a> to show active session.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if context.active_session.active_game %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <h4 class="alert-heading">Active Game</h4>
    Click <a href="/game/{{ context.active_session.active_game.game_id }}" class="alert-link">here</a> to show active
    game.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endif %}
{% endblock %}