{% extends 'base.html' %}

{% block title %}New event{% endblock %}

{% block content %}
{% if active_event_id %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">An active event already exists.</h4>
    Als long as an event is active, you cannot create a new one. Go to the <a href="/event/{{ active_event_id }}" class="alert-link">active event</a> and deactivate it fist. 
</div>
{% endif %}

{% if min_player_violation %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">You cannot play just with one player.</h4>
    Please select at least two players.
</div>
{% endif %}

{% if err %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">An error occurred.</h4>
    This could be caused by an duplicate active event. If possible, try again.
</div>
{% endif %}

<form id="form" action="/new-event/submit" method="post">
    <div class="form-group">
        <label for="playersearch">Add players to event:</label>
        <input type="text" class="form-control" id="playersearch" autocomplete="off">
        <input type="hidden" id="selected_players" name="selected_players">
    </div>
    <div class="form-group">
        <label for="players">Added players:</label>
        <ul class="list-group" id="players"></ul>
    </div>
    <button type="submit" class="btn btn-primary" {{ "disabled='disabled'" if active_event_id }}">Create Event</button>
</form>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/autocomplete/new_event.js') }}"></script>
{% endblock %}
