{% extends 'base.html' %}

{% block title %}New player{% endblock %}

{% block content %}
{% if exists %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <h4 class="alert-heading">Name already taken.</h4>
    Please enter a different name.
</div>
{% endif %}
<form action="new/submit" method="post">
    <div class="form-group">
        <label for="name">Enter name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="your name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}