{% extends 'base.html' %}

{% block title %}Player {{ player.name }}{% endblock %}

{% block content %}

{% if created %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Player successfully created.</h4>
</div>
{% endif %}

<p><b>Player {{ player.name }}</b></p>
<p>ID: {{ player.id }}</p>

<button onclick="location.href='/stats/player/{{ player.id }}'" class="btn btn-primary" type="button">Show more
    statistics</button>

<p>Played games:</p>
<ul>
    {% for g in player.played_games() %}
    <li><a href="/game/id/{{ g.id }}">{{ g.id }}</a></li>
    {% endfor %}
</ul>
{% endblock %}